#instances-container {
    list-style-type:decimal;
    list-style-position:outside;
    float: left;
    width: 98%;
}

#instances-container li.ws-instance {
    float: left;
    width:99%;
    margin-bottom: 16px;
    padding: 8px;
    background-color: #F6F3EF;
    font-size: 0.85em;
    position: relative;
}

#instances-container li.ws-instance span.ui-icon-carat-2-n-s {
    position: absolute;
    top: 0;
    right: 4px;
    cursor: pointer;
}

.ws-two-columns {
    width: 100%;
    float: left;
    background-color: #F6F3EF;
}

.ws-two-columns .ws-first-column {
    width: 37%;
    float: left;
    background-color: #F6F3EF;
}

.ws-two-columns .ws-last-column {
    width: 63%;
    float: right;
    background-color: #F6F3EF;
}

.ws-two-columns .ws-first-column .ws-version-fs,
.ws-two-columns .ws-first-column .ws-output-fs{
    width: 46%;
}

.ws-two-columns .ws-first-column .ws-version-fs{
    float: left;
}

.ws-two-columns .ws-first-column .ws-output-fs{
    float: right;
}

.ws-two-columns .ws-first-column .ws-construct-fs {
    float: left;
    width: 96%;
}

.ws-two-columns .ws-last-column .ws-url-fs{
    min-height: 34px;
}

.ws-two-columns .ws-last-column .ws-results-fs{
    min-height: 40px;
}

.instance-action {
    float: left;
    width: 99%;
    margin: 8px 0 0;
    background-color: #F6F3EF;
}

.ws-result {
    max-height: 420px;
}

.ui-widget-header h1 {
    margin: 8px 16px;
    font-size: 0.9em;
}

.ui-button .ui-button-text .ui-icon {
    margin:0;
    padding:0;
    display: inline-block;
}

.wrapper .actions{
    margin: 16px;
}

.chosen-container-multi {
    max-width: 800px;
}
.hidden {
    display: none;
}
