.paper-header h1 {
    margin: 0;
}

#instances-container {
    list-style-type:decimal;
    list-style-position:outside;
    float: left;
    width: 98%;
    counter-reset: item;
}

#instances-container li.ws-instance {
    float: left;
    width:87%;
    margin-bottom: 24px;
    padding: 0;
    font-size: 0.85em;
    position: relative;
    display: block;
}

#instances-container li.ws-instance:before {
  content: counter(item) ". ";
  counter-increment: item;
  width: 2em;
  display: inline-block;
  margin-left: -24px;
}

#instances-container li.ws-instance span.ui-icon-carat-2-n-s {
    position: absolute;
    top: 0;
    right: 4px;
    cursor: pointer;
}

.ws-url-fs{
    min-height: 34px;
}

.ws-results-fs{
    min-height: 40px;
}

.ws-result {
    max-height: 560px;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.ws-url {
    max-width: 100%;
}

.ui-widget {
    margin: 4px;
}

.ui-widget-header h1 {
    margin: 8px 16px;
    font-size: 0.9em;
}

.ui-button .ui-button-text .ui-icon {
    margin:0;
    padding:0;
    display: inline-block;
}

.chosen-container-multi {
    max-width: 800px;
}

.hidden {
    display: none;
}

ul.ws-params > li.ws-param {
    padding: 4px 0 0;
}

.parameter-required {
    color: #B22222;
}

.parameter-required-or {
    color: #D2691E;
}

.devsite-product-logo-container {
    background: #fff;
    border-radius: 50%;
    box-shadow: none;
    display: inline-block;
    height: 56px;
    margin-right: 20px;
    transition: box-shadow .2s;
    width: 56px;
    margin-top: 4px;
}

.devsite-product-logo {
    height: 32px;
    margin: 12px;
    width: 32px;
    vertical-align: middle;
}

@media screen and (min-width: 568px){
    #instances-container li.ws-instance {
        width:90%;
    }
}

@media screen and (min-width: 680px){
    #instances-container li.ws-instance {
        width:92%;
    }
}

@media screen and (min-width: 768px){
    #instances-container li.ws-instance {
        width:93%;
    }
}

@media screen and (min-width: 880px){
    #instances-container li.ws-instance {
        width:94%;
    }
}

@media screen and (min-width: 980px){
    #instances-container li.ws-instance {
        width:95%;
    }
}

@media screen and (min-width: 1120px){
    #instances-container li.ws-instance {
        width:96%;
    }
}

@media screen and (min-width: 1280px){
    #instances-container li.ws-instance {
        width:97%;
    }
    .add-parameter{
        margin-left: 4px;
    }
}

@media screen and (min-width: 1580px){
    #instances-container li.ws-instance {
        width:98%;
    }
}

@media screen and (min-width: 2180px){
    #instances-container li.ws-instance {
        width:99%;
    }
}
