<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Services APIs</title>
    <link rel="stylesheet" href="css/geo-ws.css">
    <link rel="stylesheet" href="css/chosen.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/default.min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.5.0/base-min.css&pure/0.5.0/grids-responsive-min.css&pure/0.5.0/forms-min.css">
</head>

<body class="yui3-normalized">
    <div class="wrapper ui-widget">
        <header class="ui-widget-header ui-corner-tl ui-corner-tr">
            <h1>Google Maps Web Services APIs</h1>
        </header>
        <div class="ui-widget-content ui-corner-bl ui-corner-br">
           <form id="form-ws" class="pure-form pure-form-aligned">
               <ol id="instances-container">
               </ol>
               <div class="actions">
                   <button name="add-instance" id="add-instance">
                       Add new
                   </button>
                   <button name="edit-config" id="edit-config">
                       <span class="ui-icon ui-icon-wrench"></span>Settings
                   </button>
               </div>
           </form> 
        </div>    
    </div>
    <div id="config"></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
    <script src="js/chosen.jquery.min.js"></script>
    <script src="js/jquery.blockUI.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
    
    <!-- external template -->
    <script id="instanceTemplate" type="text/template">
        <div class="pure-g two-cols">
            <div class="pure-u-1 pure-u-lg-11-24">
                <div class="pure-g">
                <fieldset class="ws-version-fs pure-u-23-24 pure-u-xl-11-24">
                    <legend>Select the version</legend>
                    <label for="ws-version-free-<%= id %>" class="pure-radio">
                        <input type="radio" name="ws-version-val-<%= id %>" id="ws-version-free-<%= id %>" <% print(version==='free'?'checked="checked"':''); %> value="free" />
                        Free
                    </label>
                    <label for="ws-version-work-<%= id %>" class="pure-radio">
                        <input type="radio" name="ws-version-val-<%= id %>" id="ws-version-work-<%= id %>" <% print(version==='work'?'checked="checked"':''); %> value="work" />
                        For Work
                    </label>
                </fieldset>
                <fieldset class="ws-output-fs pure-u-23-24 pure-u-xl-11-24">
                    <legend>Select the output format</legend>
                    <label for="output-json-<%= id %>" class="pure-radio">
                        <input type="radio" name="output-<%= id %>" id="output-json-<%= id %>" <% print(output==='json'?'checked="checked"':''); %> value="json" />
                        JSON
                    </label>
                    <label for="output-xml-<%= id %>" class="pure-radio">
                        <input type="radio" name="output-<%= id %>" id="output-xml-<%= id %>" <% print(output==='xml'?'checked="checked"':''); %> value="xml" />
                        XML
                    </label>
                </fieldset>
                </div>
        
                <div class="pure-g">
                <fieldset class="ws-construct-fs pure-u-23-24">
                    <legend>Construct</legend>
                    <select id="ws-choose-<%= id %>" name="ws-choose-<%= id %>" class="ws-choose">
                        <option value="">--Please select--</option>  
                        <% services.forEach(function(model){
                            print('<option value="'+model.get('id')+'">'+model.get('name')+'</option>');
                        });
                        %>
                    </select>
                    <div class="ws-parameters" id="ws-parameters-<%= id %>"></div>
                </fieldset>
                </div>
            </div>
            <div class="pure-u-1 pure-u-lg-1-2">
                <div class="pure-g">
                <fieldset class="ws-url-fs pure-u-1">
                    <legend>URL</legend>
                    <div id="ws-url-<%= id %>"  class="ws-url"></div>
                </fieldset>
                <fieldset class="ws-results-fs pure-u-1">
                    <legend>Results</legend>
                    <div id="ws-result-<%= id %>"  class="ws-result"></div>
                </fieldset>
                </div>
            </div>
        </div>
        <div id="instance-action-<%= id %>" class="instance-action">
            <button name="exec-instance-<%= id %>" id="exec-instance-<%= id %>" class="exec" disabled>
                Execute
            </button>
            <button name="remove-instance-<%= id %>" id="remove-instance-<%= id %>" class="delete">
                Remove
            </button>
        </div>
        <span class="ui-icon ui-icon-carat-2-n-s ws-toggle"></span>
    </script>
    
    <!-- external template -->
    <script id="paramTemplate" type="text/template">
      <label for="parameter-<%= id %>"><%= name %></label>
      <% print(com.xomena.geo.getFormElement(id, name, model)); %>
    </script>
    
    
    <!-- external template -->
    <script id="configTemplate" type="text/template">
        <fieldset class="app-config-fs">
            <legend>Settings</legend>
            <label for="app-config-api-key">API key</label><br/>
            <input type="text" name="app-config-api-key" id="app-config-api-key" value="<%= API_KEY %>" placeholder="Please enter your API key" size="40" /><br/>
            <label for="app-config-client-id">Client ID</label><br/>
            <input type="text" name="app-config-client-id" id="app-config-client-id" value="<%= CLIENT_ID %>" placeholder="Please enter your client ID" size="40" /><br/>
            <label for="app-config-crypto-key">Crypto Key</label><br/>
            <input type="text" name="app-config-crypto-key" id="app-config-crypto-key" value="<%= CRYPTO_KEY %>" placeholder="Please enter your Crypto Key" size="40" /><br/>
            <label for="app-config-places-api-key">Places for Work API key</label><br/>
            <input type="text" name="app-config-places-api-key" id="app-config-places-api-key" value="<%= PLACES_API_KEY %>" placeholder="Please enter your Places for Work API key" size="40" /><br/>
            <label for="app-config-server-url">Server URL</label><br/>
            <input type="text" name="app-config-server-url" id="app-config-server-url" value="<%= SERVER_URL %>" placeholder="Please enter URL for server-side" size="40" /><br/>
            <label for="app-config-sign-url">Sign URL</label><br/>
            <input type="text" name="app-config-sign-url" id="app-config-sign-url" value="<%= SIGN_URL %>" placeholder="Please enter URL for digital sign" size="40" />
        </fieldset>
    </script>
    
    <script src="js/geo-ws-model.js"></script>
    <script src="js/geo-ws.js"></script>
    
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-57959665-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
