<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Services APIs</title>
    <link rel="stylesheet" href="css/geo-ws.css">
</head>

<body>
    <div class="wrapper">
       <form id="form-ws">
           <ul id="instances-container">
           </ul>
           <div class="actions">
               <button name="add-instance" id="add-instance">
                   Add new
               </button>
           </div>
       </form> 
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
    
    <!-- external template -->
    <script id="instanceTemplate" type="text/template">
        <fieldset>
               <legend>Select the version</legend>
               <input type="radio" name="ws-version-val-<%= id %>" id="ws-version-free-<%= id %>" <% print(version==='free'?'checked="checked"':''); %> value="free" />
               <label for="ws-version-free-<%= id %>">Free</label>
               <input type="radio" name="ws-version-val-<%= id %>" id="ws-version-work-<%= id %>" <% print(version==='work'?'checked="checked"':''); %> value="work" />
               <label for="ws-version-work-<%= id %>">For Work</label>
        </fieldset>
        <fieldset>
               <legend>Construct</legend>
               <select id="ws-choose-<%= id %>" name="ws-choose-<%= id %>" class="ws-choose">
                 <option value="">--Please select--</option>  
                 <% services.forEach(function(model){
                        print('<option value="'+model.get('alias')+'">'+model.get('name')+'</option>');
                    });
                 %>
               </select>
        </fieldset>
        <div class="instance-action-<%= id %>">
            <button name="exec-instance-<%= id %>" id="exec-instance-<%= id %>" class="exec">
                Execute
            </button>
            <button name="remove-instance-<%= id %>" id="remove-instance-<%= id %>" class="delete">
                Remove
            </button>
        </div>
    </script>
    
    <script src="js/geo-ws-model.js"></script>
    <script src="js/geo-ws.js"></script>
</body>
</html>
